<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>KalpeshPro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>kalpesh11Sys.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>kalpesh11Sys.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin1</display-name>
    <servlet-name>Admin1</servlet-name>
    <servlet-class>kalpesh11Sys.Admin1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin1</servlet-name>
    <url-pattern>/Admin1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>kalpesh11Sys.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>URegi</display-name>
    <servlet-name>URegi</servlet-name>
    <servlet-class>kalpesh11Sys.URegi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URegi</servlet-name>
    <url-pattern>/URegi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PoliceLogin</display-name>
    <servlet-name>PoliceLogin</servlet-name>
    <servlet-class>kalpesh11Sys.PoliceLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PoliceLogin</servlet-name>
    <url-pattern>/PoliceLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addsp</display-name>
    <servlet-name>Addsp</servlet-name>
    <servlet-class>kalpesh11Sys.Addsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addsp</servlet-name>
    <url-pattern>/Addsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delesp</display-name>
    <servlet-name>Delesp</servlet-name>
    <servlet-class>kalpesh11Sys.Delesp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delesp</servlet-name>
    <url-pattern>/Delesp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityWise</display-name>
    <servlet-name>CityWise</servlet-name>
    <servlet-class>kalpesh11Sys.CityWise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityWise</servlet-name>
    <url-pattern>/CityWise</url-pattern>
  </servlet-mapping>
</web-app>